<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="fb21cbaf-9a48-4cd0-a83e-67f07e9a5ee6" Publisher="CN=Dhruv" Version="1.0.0.0" />
  <Properties>
    <DisplayName>udaan17-universal-windows-app.Windows</DisplayName>
    <PublisherDisplayName>Dhruv</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="udaan17_universal_windows_app.Windows.App">
      <m2:VisualElements DisplayName="Udaan '17" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="udaan17-universal-windows-app.Windows" ForegroundText="light" BackgroundColor="#000000">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>